<label for="myInput">Server Name</label>
<!-- <input
  type="text"
  name="myInput"
  class="form-control"
  id="myInput1"
  (input)="onUpdateServerName($event)"> -->

<input type="text" name="myInput" class="form-control" id="myInput1" [(ngModel)]="serverName" />

<p>{{serverName}}</p>

<app-learn-class-change></app-learn-class-change>

<button (click)="onCreateServer()" class="btn btn-primary" [disabled]="!allowNewServer">click me</button>

<p *ngIf="clickMeClicked">button clicked this must show</p>


<p>{{serverCreationStatus}}</p>
<p>The server Componenet</p>
<p>this {{'go test'}} from serevr {{serverId }} and is {{serverStatus}} and {{ getServerStatus() }}</p>

<p [ngStyle]="{backgroundColor: getServerStatausColor()}">color {{serverStatus}}</p>


<div class="btn-group" role="group" aria-label="Basic example">
  <button class="btn btn-primary" (click)="addCustomElementHandler()">add new custom componenet</button>
  <button class="btn btn-secondary" (click)="removeCustomElementHandler()">remove new custom componenet</button>
</div>






<app-custom *ngFor="let i of serverArray"></app-custom>

